.prod-card {
    height: 400px;
    padding: 5px;
}

.prod-card .prod-inner{
    
    border: solid 1px;
    border-radius: 10px;
}

.prod-img {
    height: 200px;
    overflow: hidden;
    margin-bottom: 5px;
}

.prod-img img {
    objectFit: cover;  

}

.prod-details {
    text-align:  center;
}

.prod-details form {
    width: 50%;
}
.prod-details form label {
    float: left;
    margin-top: 2px;
}

.prod-details form .form-group div {
    float: left;
    margin-bottom: 2px;
}

.prod-details form .form-group {
    min-height : 100px;
}
